# Python para Análise de Dados - Pandas

Iremos trabalhar com base de imóveis que obtive no site **Kaggle**

In [90]:
# Importando o Pandas.
import pandas as pd

In [91]:
# Lendo uma base de dados no formato .csv.
# o parâmetro sep é usado para definir qual o separador entre os dados.
# o parâmetro header informo em qual linha está minhas colunas ou se elas não existem.
# Se não existe colunas (header=None) o pandas dará um número para cada atributo da base.
arquivo = 'kc_house_data.csv'
dataset = pd.read_csv(arquivo, sep=',' ,header=0)

In [92]:
# Imprimindo o tipo da variável dataset
# Dataframe é um estrutura de dados onde linhas podem ter colunas de diferentes tipos.
type(dataset)

pandas.core.frame.DataFrame

In [93]:
# Metodo head() imprime as 5 linhas iniciais do dataframe.
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [94]:
# O parâmetro index_col informa a coluna na qual o dataframe será indexado
dataset = pd.read_csv(arquivo, sep=',', index_col='date')

In [95]:
dataset = pd.read_csv(arquivo, sep=',', usecols=['id','date','price','bedrooms'])

In [96]:
# Metodo head() imprime as 5 linhas iniciais do dataframe.
dataset.head()

           id             date     price  bedrooms
0  7129300520  20141013T000000  221900.0       3.0
1  6414100192  20141209T000000  538000.0       3.0
2  5631500400  20150225T000000  180000.0       2.0
3  2487200875  20141209T000000  604000.0       4.0
4  1954400510  20150218T000000  510000.0       3.0

In [97]:
# Imprimindo a 100 primeiras linhas do dataframe.
dataset.head(100)

            id             date     price  bedrooms
0   7129300520  20141013T000000  221900.0       3.0
1   6414100192  20141209T000000  538000.0       3.0
2   5631500400  20150225T000000  180000.0       2.0
3   2487200875  20141209T000000  604000.0       4.0
4   1954400510  20150218T000000  510000.0       3.0
..         ...              ...       ...       ...
95  1483300570  20140908T000000  905000.0       4.0
96  3422049190  20150330T000000  247500.0       3.0
97  1099611230  20140912T000000  199000.0       4.0
98   722079104  20140711T000000  314000.0       3.0
99  7338200240  20140516T000000  437500.0       3.0

[100 rows x 4 columns]

In [98]:
# Atributo columns retorna o nome das colunas do dataframe.
dataset.columns

Index(['id', 'date', 'price', 'bedrooms'], dtype='object')

In [99]:
# Método count() retorna a quantidade de linhas de todas as colunas.
dataset.count()

id          21613
date        21613
price       21613
bedrooms    21609
dtype: int64

In [100]:
# Método describe() exibe informações estatísticas da base de dados. 
# Várias informações como desvio padrão, média, valor mínimo e valor máximo de colunas.
dataset.describe()

                 id         price      bedrooms
count  2.161300e+04  2.161300e+04  21609.000000
mean   4.580302e+09  5.400881e+05      3.370910
std    2.876566e+09  3.671272e+05      0.930084
min    1.000102e+06  7.500000e+04      0.000000
25%    2.123049e+09  3.219500e+05      3.000000
50%    3.904930e+09  4.500000e+05      3.000000
75%    7.308900e+09  6.450000e+05      4.000000
max    9.900000e+09  7.700000e+06     33.000000

In [101]:
# Imprime as 5 ultimas linhas .
dataset.tail(100)

               id             date      price  bedrooms
21513  1023059465  20140513T000000   505000.0       4.0
21514  3262300818  20150227T000000  1865000.0       4.0
21515  2937300040  20141215T000000   942990.0       4.0
21516  2768100206  20141001T000000   440000.0       3.0
21517  7904700134  20140626T000000   390000.0       3.0
...           ...              ...        ...       ...
21608   263000018  20140521T000000   360000.0       3.0
21609  6600060120  20150223T000000   400000.0       4.0
21610  1523300141  20140623T000000   402101.0       2.0
21611   291310100  20150116T000000   400000.0       3.0
21612  1523300157  20141015T000000   325000.0       2.0

[100 rows x 4 columns]

In [102]:
# Imprime uma amostra aleatória do dataset.
dataset.sample(5)

               id             date     price  bedrooms
12558  2644900149  20141218T000000  364000.0       2.0
12641  7215730730  20150128T000000  515000.0       4.0
4583   8645501091  20150311T000000  259950.0       4.0
5741   1923300170  20150109T000000  629000.0       5.0
8420    514500195  20141016T000000  556000.0       4.0

In [103]:
# Retorna em formato de tupla a quantidade de linhas e colunas do dataset.
dataset.shape

(21613, 4)

In [104]:
# Imprime informações sobre colunas e uso de memória.
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        21613 non-null  int64
 1   date      21613 non-null  object
 2   price     21613 non-null  float64
 3   bedrooms  21609 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 675.5+ KB

### Analisando um Dataframe com Profiling

*Instalando o Pandas Profiling*

In [105]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (2.8.0)
Requirement already satisfied: visions[type_image_path]==0.4.4 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (0.4.4)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (3.2.1)
Requirement already satisfied: numpy>=1.16.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.16.5)
Requirement already satisfied: missingno>=0.4.2 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: confuse>=1.0.0 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (1.1.0)
Requirement already satisfied: phik>=0.9.10 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (0.9.11)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied: requests>=2.23.0 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (2.23.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.4.1)
Requirement already satisfied: joblib in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (4.46.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (1.0.3)
Requirement already satisfied: astropy>=4.0 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (4.0.1.post1)
Requirement already satisfied: ipywidgets>=7.5.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from pandas-profiling) (7.5.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from pandas-profiling) (0.0.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (19.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (2.4)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (6.2.0)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\guilherme.angelico\appdata\roaming\python\python37\site-packages (from visions[type_image_path]==0.4.4->pandas-profiling) (4.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.0)
Requirement already satisfied: seaborn in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from missingno>=0.4.2->pandas-profiling) (0.9.0)
Requirement already satisfied: pyyaml in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas-profiling) (5.1.2)
Requirement already satisfied: numba>=0.38.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from phik>=0.9.10->pandas-profiling) (0.45.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.23.0->pandas-profiling) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.23.0->pandas-profiling) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.23.0->pandas-profiling) (2019.9.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.23.0->pandas-profiling) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->pandas-profiling) (2019.3)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (4.4.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.1.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (3.5.1)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (7.8.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.4.4->pandas-profiling) (4.4.0)
Requirement already satisfied: six in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.4->pandas-profiling) (1.12.0)
Requirement already satisfied: PyWavelets in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.4.4->pandas-profiling) (1.0.3)
Requirement already satisfied: setuptools in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.2.0->pandas-profiling) (41.4.0)
Requirement already satisfied: llvmlite>=0.29.0dev0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.9.10->pandas-profiling) (0.29.0)
Requirement already satisfied: ipython-genutils in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (3.0.2)
Requirement already satisfied: jupyter-core in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (4.5.0)
Requirement already satisfied: jupyter-client in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (5.3.3)
Requirement already satisfied: tornado>=4.2 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (5.1.1)
Requirement already satisfied: notebook>=4.4.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (6.0.1)
Requirement already satisfied: pickleshare in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.4.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.0.10)
Requirement already satisfied: pygments in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.4.2)
Requirement already satisfied: backcall in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.15.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.15.4)
Requirement already satisfied: pyzmq>=13 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (18.1.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (223)
Requirement already satisfied: terminado>=0.8.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.2)
Requirement already satisfied: prometheus-client in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.7.1)
Requirement already satisfied: nbconvert in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (5.6.0)
Requirement already satisfied: Send2Trash in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied: wcwidth in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)
Requirement already satisfied: bleach in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (3.1.0)
Requirement already satisfied: testpath in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.4.2)
Requirement already satisfied: defusedxml in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.2)
Requirement already satisfied: webencodings in c:\users\guilherme.angelico\appdata\local\continuum\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)

In [106]:
import pandas_profiling

*Lendo o arquivo de dados e construindo o dataframe chamado df*

In [107]:
arquivo = 'kc_house_data.csv'

In [108]:
df = pd.read_csv(arquivo, sep=',' ,header=0)

*Usando o Profiling no jupyter notebook*

In [109]:
profile = pandas_profiling.ProfileReport(df)

In [ ]:
profile.to_file("report.html")

# Trabalhando com Grandes Arquivos

+ Quando estamos trabalhando com _**Grandes Arquivos**_ temos um desafio um grande desafio que é gerenciar a memória.
+ As vezes precisamos manipular uma base de dados muito grande e por isso precisamos trabalhar com arquivos de forma diferente.
* Uma forma é ler esses arquivos de forma limitada para não consumir toda a _**memória**_ do servidor.

In [ ]:
# Lendo as 5 primeiras linhas do arquivo.
dataset = pd.read_csv(arquivo, sep=',')

In [ ]:
dataset.head(2)

In [ ]:
# O parâmetro chunksize define em quantas linhas cada bloco irá conter.
chunk = pd.read_csv(arquivo, chunksize=10000)

In [ ]:
type(chunk)

In [ ]:
# Imprimindo tamanho das partes do arquivo chunk.
for parte in chunk:
    print (len(parte))

In [ ]:
# O parâmetro chunksize define em quantas linhas cada bloco irá conter.
chunk = pd.read_csv(arquivo, chunksize=10000)

In [ ]:
# Interese sobre cada parte do dataframe em seguida adicione o valor processado a uma nova coluna do dataset.
lista = []
for parte in chunk:
    lista.append(parte['bedrooms'] * 2)

dataset['bedrooms_size'] = pd.concat(lista)

In [ ]:
dataset

### Mais recursos para trabalhar com grandes bases de dados

1.   Tente trabalhar apenas com as colunas que você vai realmente precisar.
2.   Atente para o tipo de dado de cada coluna.
3.   Visualize qual o separador usado para separar os dados.

**Dica:** Se estiver no linux use o comando head para ler as 5 primeiras linhas do arquivo:

`head -n 5 dataset.csv`

In [ ]:
!head -n 5 /home/rodrigo/kc_house_data.csv

**Dica**: Se estiver no Windows abra o prompt do **PowerShell** e use o comando abaixo:
- gc log.txt -head 5

In [ ]:
import pandas as pd

In [ ]:
# Lear a base com o parâmetro nrows
df = pd.read_csv('kc_house_data.csv', sep=',', nrows=5)

In [ ]:
df

*Exporte o nome das colunas para usar no parâmetro usecols*

In [ ]:
df.columns.tolist()

In [ ]:
df = pd.read_csv("kc_house_data.csv", usecols=['id','date','price','bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront'])

In [ ]:
df.head()

*lendo as colunas por posições*

In [ ]:
df = pd.read_csv("kc_house_data.csv", usecols=[0,1,2,3,4,5])

In [ ]:
df.head()

*Ler o arquivo completo e veja o uso de memória*

In [ ]:
df = pd.read_csv('kc_house_data.csv', sep=',')

In [ ]:
df.info()

*Leia todas as colunas exceto algumas..*

In [ ]:
data = "kc_house_data.csv"
df = pd.read_csv(data, usecols = lambda column : column not in ['sqft_living','sqft_lot','floors'])

In [ ]:
df.head()

### Trabalhe com os tipos de dados adequados

- Atenção para os tipos de dados **object**
- Dados que são categóricos podem receber o tipo de dados *category*

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.info()

*Convertendo os tipos de dados*

In [ ]:
df.Sex = df.Sex.astype('category')
df.Embarked = df.Embarked.astype('category')
df.Survived = df.Survived.astype('category')
df.Pclass = df.Pclass.astype('category')
df.PassengerId = df.PassengerId.astype('int32')
df.Parch = df.Parch.astype('int32')
df.SibSp = df.SibSp.astype('int32')

*Veja o uso de memória*

In [ ]:
df.info()

- Quase **50%** e ganho de memória !

*Converta colunas em tempo de leitura*

In [ ]:
data = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(data,  dtype = {"Embarked" : "category", "Survived": "category", "Parch": "int32"})

In [ ]:
df.info()

# Consultando um Dataset

* Podemos fazer _**consultas**_ em um Dataframe, isso se assemelha a linhagem SQL.

* Existem métodos interessantes para fazer consultas usando operadores lógicos (>,<,== ).

* Além disso podemos fazer consultas usando instruções de agrupamento, por exemplo. 

* Isso da muita flexibilidade para o Cientista de dados na hora de explorar da base de dados.

In [ ]:
# Conta a quantidade de valores únicos
pd.value_counts(dataset['bedrooms'])

In [ ]:
# O método loc() é usado para visualizar informações do dataset.
# Este método recebe uma lista por parâmetro e retorna o resultado da consulta.
# Consulta imóveis com 3 quartos
dataset.loc[dataset['bedrooms'] == 3]

In [ ]:
# Usando o método loc() junto com o operador &
# Consulta imóveis com 3 quartos e com o número de banheiros maior que 2
dataset.loc[(dataset['bedrooms']==3) & (dataset['bathrooms'] > 2)]

In [ ]:
# O método sort_values() ordena o dataset pela coluna 'price' em ordem descrescente.
# Apenas o retorno da query será ordenado, não a organização do dataset.
dataset.sort_values(by='price', ascending=False)

In [ ]:
# Usando o método count() para contar o número de linhas de uma query.
dataset[dataset['bedrooms']==4].count()

# Alterando o dataset

In [ ]:
dataset.head()

In [ ]:
# Adicionando uma coluna ao Dataframe.
dataset['size'] = (dataset['bedrooms'] * 20)

In [ ]:
# Visualizando o conteúdo da coluna criada.
dataset['size'].head()

In [ ]:
# Criando uma função para processamento de dados.
def categoriza(s):
    if s >= 80:
        return 'Big'
    elif s >= 60:
        return 'Medium'
    elif s >= 40:
        return 'Small'

In [ ]:
# Criando uma nova coluna a partir do processamento realizado.
dataset['cat_size'] = dataset['size'].apply(categoriza)

In [ ]:
# Visualizando a nova coluna criada.
dataset['cat_size'].head()

In [ ]:
# Ver a distribuicao da coluna com o método value_counts.
pd.value_counts(dataset['cat_size'])

In [ ]:
# O método drop é usado para excluir dados no dataframe.
# A opção axis=1 define que queremos excluir uma coluna e não uma linha.
# O parâmetro inplace define que a alteração irá modificar o objeto em memória.

dataset.drop(['cat_size'], axis=1, inplace=True)

In [ ]:
# Apagando a coluna 'size'
dataset.drop(['size'], axis=1, inplace=True)

In [ ]:
# Visualizando o dataset.
dataset.head()

**Apagando linhas baseado em Condições lógicas!**

In [ ]:
# Dropa linhas com bedrooms = 0
dataset.drop(dataset[dataset.bedrooms==0].index ,inplace=True)

In [ ]:
# Dropa linhas maiores que 30
dataset.drop(dataset[dataset.bedrooms>30].index ,inplace=True)

**Percorrendo linhas de um Dataframe Pandas**

- Método iterrows() permite percorrer por todas as linhas de um dataframe.
- Esse método retorna um objeto **iterator** que contém o indice de cada linha e um cada linha em um dado do tipo série.

In [ ]:
type(dataset.iterrows())

In [ ]:
# Imprime a primeira linha do objeto iterator
next(dataset.iterrows())

In [ ]:
# Percorrendo o dataframe e imprimindo o indice e cada linha.
for indice, linha in dataset.head(10).iterrows():
     print(indice, linha)

In [ ]:
# Percorrendo o dataframe e acessando colunas nomes.
for indice, linha in dataset.head(10).iterrows():
     print(indice, linha['bedrooms'], linha['floors'], linha['price'])

**Atualizando Dataframe ao percorrer linha a linha**

In [ ]:
# Imprime os 5 primeiros valores de preços antes da atualização.
dataset.price.head()

In [ ]:
# Percorrendo e atualizando linhas de um dataframe.
# Atualiza o valor da coluna PRICE multiplicando seu valor por 2.
# é preciso usar o método at()
for indice, linha in dataset.iterrows():
    dataset.at[indice , 'price'] = linha['price'] * 2

In [ ]:
dataset.price.head()

**Percorrendo um dataframe com o método itertuples()**

- Retorna as linhas e índice em formato de tuplas.
- Costuma ser mais rápido que o iterrows()

In [ ]:
# Percorre o dataframe usando itertuples()
for linha in dataset.head().itertuples():
    print(linha)

In [ ]:
# Imprime linhas chamando as colunas por nome.
for linha in dataset.head().itertuples():
    print(linha.id, linha.bedrooms, linha.price)

# Missing Values

* **Missing Values** são valores faltantes em colunas, esses podem ser oriundos de falhas em cargas de dados, falhas em crawlers ou até mesmo corrupção de dados.

* Missing Values podem ser um problema em várias situações, como por exemplo, algoritmos de machine learning que não trabalham bem com dados faltantes.

* Estes também podem atrapalhar resultados de análises.

* Vamos aprender como encontrar missing values na base de dados e como manipular esses valores.

In [ ]:
arquivo = '/home/rodrigo/curso/Python Para Data Análise/kc_house_data.csv'
dataset = pd.read_csv(arquivo, sep=',', header=0)

In [ ]:
# Consultando linhas com valores faltantes.
dataset.isnull().sum()

In [ ]:
#Com este comando removemos todas as linhas onde tenha pela menos um registro faltante em algum atributo.
dataset.dropna(inplace=True)

In [ ]:
# É possível ainda, remover somente linhas que estejam com valores faltantes em todas as colunas, veja:
dataset.dropna(how='all', inplace=True)

In [ ]:
#preenche com a media dos valores da coluns floors os values null
dataset['floors'].fillna(dataset['floors'].mean(), inplace=True)

In [ ]:
#preenche com 1 os values null da coluna bedrooms
dataset['bedrooms'].fillna(1, inplace=True)

# Visualização de dados

In [ ]:
# Plota em um gŕafico de barras o preço dos imóveis
dataset['price'].plot()

In [ ]:
# Plota em gráfico de dispersão o preço e o numero de quartos de imóveis
dataset.plot(x='bedrooms',y='price',kind='scatter', title='Bedrooms x Price',color='r')

In [ ]:
# Plota em gráfico de dispersão o preço e o número de banheiros
dataset.plot(x='bathrooms',y='price',kind='scatter',color='y')